*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

@media screen and (max-width: 420px) {
    body {
      background-image: radial-gradient(black 40%, rgb(62, 190, 11));
      display: flex;
      flex-direction: column;
      font-family: 'Quicksand', sans-serif;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .top {
      height: 10vh;
      margin-top: 1.5em;
    }

    a {
      margin: 0 10px;
      color:rgb(62, 190, 11);
    }

    .mid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 60vh;
      color: rgb(62, 190, 11);
    
    }

    .me {
      margin: .5em;
    }

    a:link {
      text-decoration: none;
    }
  
    a:visited {
      text-decoration: none;
    }
}

@media screen and (min-width: 420px) {
    body {
      background-image: radial-gradient(black 40%, rgb(62, 190, 11));
      display: flex;
      flex-direction: column;
      font-family: 'Quicksand', sans-serif;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
    }

    .top {
      height: 10vh;
    }

    a {
      margin: 0 30px;
      color:rgb(62, 190, 11);
      font-size: 1.3em;
      border-radius: 50%;
      padding: .5em;
    }

    .mid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 60vh;
      color: rgb(62, 190, 11);
      text-align: left;
    }

    input {
        background-color: rgb(62, 190, 11);
        border-radius: 5px;
        font-family: 'Quicksand', sans-serif;
        font-size: .9em;
        
    }

    label {
        width: 250px;
        display: inline-block;
    }

    .me {
      font-size: 2em;
      margin-bottom: 5px;
    }

    .name {
      font-size: 1.3em;
      margin-bottom: 3px;
    }

    .email {
        font-size: 1.3em;
        margin-bottom: 3px;
    }

    .soc {
      height: auto;
    }

    .fab {
      color: rgb(62, 190, 11);
      margin: .5em;
      font-size: 1.5em;
      cursor: pointer;
      margin-top: 5em;
    }

    a:hover {
      color: black;
      /*text-shadow: rgb(60, 255, 0) 1px 1px 1px;*/
      background-color: rgb(62, 190, 11);
    }

    a:link {
      text-decoration: none;
    }
  
    a:visited {
      text-decoration: none;
    }
}
